html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #424242;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, p{
  margin: 0; 
}

header, footer, section, article, div {
  box-sizing: border-box;
}

.header {
	order:0;
	border-bottom: 5px solid black;
	height: auto;
	width: 100%;
}

.header_content {
	width: 100%;
	height: 204px;
}

.title_img{
	width:100%;
	max-width:200px;
	height: auto;
	vertical-align: text-bottom;
}

.content_left {
	order:1;
	float: left;
	text-align: start;
	width: 50%;
}

.content_right {
	order:2;
	float: right;
	display:inline-block;
	text-align: end;
	font-weight: 300;
	margin: 100px 0px 0px 0px;
	color: #2d3c49;
	width: 50%;
}

#title {	
	color: #2d3c49;
	text-align: end;
	font-size:3em;
}

#subtitle {	
	color: #2d3c49;
	text-align: end;
	font-size:1.5em;
}

main > section {
	text-align: center;
}

.main {
	order:3;
}

.main_img{
	width:100%;
	height:auto;
	margin:10px;
}

.works {
	order:4;
	display:flex;
	width: 100%;
	justify-content:space-around;
	margin-bottom:10px;
	
}

.works_title {
	font-size:3em;
	text-align: left;
	color: #7d97ad;
}

.works_item{
	width:33%;
	/*display:inline-block;*/
}

.works_item_img {
	width: 100%;
	max-width: 200px;
	height: auto;
}

section h3 {
	font-size:3em;
	color: #2d3c49;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #7d97ad;
	word-wrap: break-word;
}

.conteiner {
	display: flex;
	flex-flow: row wrap;
	justify-content:space-around;
}

footer {
  order: 5;
  border-top: 1px solid #E0E0E0;
  padding: 1em;
  width: 100%;
  text-align: center;
}

footer li {
  display: inline-block;
  margin: 0 1em;
}

@media only screen and (max-width: 360px) {
    section h3 {
      font-size: 1em;
    }
	
	.works_item_img {
		max-width: 150px;
	}
	
	a {
		font-size: 0.9em;
	}
	
	footer {
		padding:0;
	}
	
	.works_title {
		font-size:1em;
	}
	
	#title {	
		font-size:1.5em;
	}

	#subtitle {	
		font-size:0.75em;
	}
	
	.title_img{
		max-width:120px;
	}
	
	.header_content {
		height: 124px;
	}
	
	.content_right {
		margin: 80px 0px 0px 0px;
	}
}

@media only screen and (min-width: 361px) and (max-width:768px){
    section h3 {
      font-size: 1em;
    }
	
	.works_item_img {
		max-width: 150px;
	}
	
	a {
		font-size: 0.9em;
	}
	
	footer {
		padding:0;
	}
	
	.works_title {
		font-size:1em;
	}
	
	#title {	
		font-size:2em;
	}

	#subtitle {	
		font-size:1em;
	}
	
	.title_img{
		max-width:120px;
	}
	
	.header_content {
		height: 124px;
	}
	
	.content_right {
		margin: 70px 0px 0px 0px;
	}
	
	.main_img{
		max-width:60%;
	}
}

